## Problem 1

To verify the controls, we first designed an iteration so that the contents of the LocusGene.tsv and Germplasm.tsv files go to an empty list. We have done this through the matchObj = re.search command, we have searched for the AGI code in each file, and if it matches it goes to the list. Finally we have faced both lists to confirm that the AGI codes match.

In [1]:
import re

locusfile = open("LocusGene.tsv", "r")
locusfile.seek(0)

locus = []
for line in locusfile.readlines():
    matchObj = re.search (r'AT\dG\d+\s', line )
    if matchObj:
        AGIlocus = matchObj.group()
        print (AGIlocus)
        locus.append(matchObj.group())
        print ("Add to the list")
    else:
        print ("No Match")

No Match
AT1G01040
Add to the list
AT1G01060
Add to the list
AT1G01140
Add to the list
AT1G01220
Add to the list
AT2G03720
Add to the list
AT2G03800
Add to the list
AT2G04240
Add to the list
AT2G05210
Add to the list
AT3G02130
Add to the list
AT3G02140
Add to the list
AT3G02230
Add to the list
AT3G02260
Add to the list
AT3G02310
Add to the list
AT3G02680
Add to the list
AT3G02850
Add to the list
AT3G02870
Add to the list
AT3G03260
Add to the list
AT4G14790
Add to the list
AT4G15210
Add to the list
AT4G15560
Add to the list
AT4G15570
Add to the list
AT4G15802
Add to the list
AT4G15880
Add to the list
AT4G16420
Add to the list
AT4G16480
Add to the list
AT5G10480
Add to the list
AT5G10510
Add to the list
AT5G11110
Add to the list
AT5G11260
Add to the list
AT5G11510
Add to the list
AT5G12200
Add to the list
AT5G13290
Add to the list

In [2]:
germfile = open("Germplasm.tsv", "r")
germfile.seek(0)

germplasm = []
for line in germfile.readlines():
    matchObj = re.search (r'AT\dG\d+\s', line )
    if matchObj:
        AGIgerm = matchObj.group()
        print (AGIgerm)
        germplasm.append(matchObj.group())
        print ("Add to the list")
    else:
        print ("No Match")

No Match
AT1G01040
Add to the list
AT1G01060
Add to the list
AT1G01140
Add to the list
AT1G01220
Add to the list
AT2G03720
Add to the list
AT2G03800
Add to the list
AT2G04240
Add to the list
AT2G05210
Add to the list
AT3G02130
Add to the list
AT3G02140
Add to the list
AT3G02230
Add to the list
AT3G02260
Add to the list
AT3G02310
Add to the list
AT3G02680
Add to the list
AT3G02850
Add to the list
AT3G02870
Add to the list
AT3G03260
Add to the list
AT4G14790
Add to the list
AT4G15210
Add to the list
AT4G15560
Add to the list
AT4G15570
Add to the list
AT4G15802
Add to the list
AT4G15880
Add to the list
AT4G16420
Add to the list
AT4G16480
Add to the list
AT5G10480
Add to the list
AT5G10510
Add to the list
AT5G11110
Add to the list
AT5G11260
Add to the list
AT5G11510
Add to the list
AT5G12200
Add to the list
AT5G13290
Add to the list

In [3]:
if locus == germplasm:
    print ("Match")
else:
    print ("No Match")

Match

In [4]:
germfile.close()
locusfile.close()

## Problem 2

I have decided to design the tables of both files using sqlMagic. For convenience I have decided to differentiate the two keys from the tables (germlocus and locuslocus) to establish the 1: 1 relationship between the two.

In [5]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [9]:
%sql show databases
#%sql drop database germplasm0

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
8 rows affected.

[('information_schema',),
 ('class0',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',),
 ('university',)]

In [10]:
%sql create database germplasm0
%sql use germplasm0

%sql create table germplasmT (germlocus VARCHAR(30) NOT NULL PRIMARY KEY, germplasm VARCHAR(30), phenotype VARCHAR (500), pubmed INTEGER NOT NULL);
%sql create table locusT (locuslocus VARCHAR(30) NOT NULL PRIMARY KEY, gene VARCHAR(20), lenght INTEGER NOT NULL);

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [11]:
%sql show databases
%sql describe germplasmT;
%sql describe locusT;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('locuslocus', 'varchar(30)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(20)', 'YES', '', None, ''),
 ('lenght', 'int(11)', 'NO', '', None, '')]

## Problem 3

For problem 3 I used pymysql. First of all I have connected to the database I created, then I have opened the files (LocusGene.tsv and Germplasm.tsv) and I allow the file to be read through the germfile = germfile.readlines () command. Finally I add the contents of the file by passing the columns of the files to lists that I then turn to the tables of the generated database.

In [12]:
import pymysql.cursors
import re

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm0',
                             charset='utf8mb4',  # note utf8... this is#important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

germfile = open("Germplasm.tsv", "r")
germfile.seek(0)   # set pointer back to the beginning in case we have runthis before
germfile = germfile.readlines()

locusfile = open("LocusGene.tsv", "r")
locusfile.seek(0)
locusfile = locusfile.readlines()

try:
    with connection.cursor() as cursor:
        for i in range (1, len(germfile)):
            filalocus = locusfile[i].split ('\t')
            a = filalocus[0]
            b = filalocus[1]
            c = filalocus[2]
            
            m = (a,b,c)
            sql = "INSERT INTO locusT(locuslocus, gene, lenght) VALUES (%s, %s, %s)"
            cursor.execute (sql,m)
            
            filagerm = germfile [i].split('\t')
            d = filagerm [1]
            e = filagerm [2]
            f = filagerm [3]
            
            n = (a,d,e,f)
            sql = "INSERT INTO germplasmT(germlocus, germplasm, phenotype, pubmed) VALUES (%s, %s, %s, %s)"
            cursor.execute (sql,n)
        
        connection.commit()
        
finally:
    print("")
    connection.close()

In [13]:
%sql select * from locusT
#%sql select * from germplasmT

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'DCL1', 332),
 ('AT1G01060', 'LHY', 290),
 ('AT1G01140', 'CIPK9', 223),
 ('AT1G01220', 'FKGP', 190),
 ('AT2G03720', 'MRH6', 189),
 ('AT2G03800', 'GEK1', 196),
 ('AT2G04240', 'XERICO', 256),
 ('AT2G05210', 'POT1A', 221),
 ('AT3G02130', 'RPK2', 284),
 ('AT3G02140', 'TMAC2', 300),
 ('AT3G02230', 'RGP1', 301),
 ('AT3G02260', 'BIG', 279),
 ('AT3G02310', 'SEP2', 175),
 ('AT3G02680', 'NBS1', 190),
 ('AT3G02850', 'SKOR', 234),
 ('AT3G02870', 'VTC4', 311),
 ('AT3G03260', 'HDG8', 194),
 ('AT4G14790', 'SUV3', 312),
 ('AT4G15210', 'BAM5', 313),
 ('AT4G15560', 'DXS', 219),
 ('AT4G15570', 'MAA3', 294),
 ('AT4G15802', 'HSBP', 254),
 ('AT4G15880', 'ESD4', 265),
 ('AT4G16420', 'ADA2B', 279),
 ('AT4G16480', 'INT4', 284),
 ('AT5G10480', 'PAS2', 301),
 ('AT5G10510', 'AIL6', 310),
 ('AT5G11110', 'SPS2', 232),
 ('AT5G11260', 'HY5', 221),
 ('AT5G11510', 'MYB3R-4', 336),
 ('AT5G12200', 'PYD2', 310),
 ('AT5G13290', 'CRN', 189)]

## Problem 4

In problem 4 I have assigned a variable to each search in the files, then each of those variables I have included in a file which I have called "REPORTS"

#### Report 1

In [14]:
report1 = %sql SELECT * FROM germplasmT INNER JOIN locusT ON germlocus = locuslocus;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

#### Report 2

#### Report 3

In [15]:
report3 = %sql SELECT COUNT(*) AS "Number Of Matches" FROM locusT RIGHT JOIN germplasmT ON locuslocus = germlocus;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

#### Report 4

In [16]:
report4 = %sql SELECT AVG(lenght) FROM locusT RIGHT JOIN germplasmT ON locuslocus = germlocus;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

In [17]:
report1 = str(report1)
report3 = str(report3)
report4 = str(report4)

REPORTS = open("REPORTS.cvs", "w")
REPORTS.write("REPORTS {}{}{}".format(report1,report3, report4))

15531